mixin testi(name, location, text)
  p #{text}
  h3
    | - #{name}, 
    i #{location}

mixin title(text)
  title #{text} | The Packaging Store of The Greater Milwaukee, WI Area

mixin meta(text)
  meta(name='description', content=text)
